@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #007bff;
}

/* start Quiz Button Styling  */
.start_btn,
.info_box,
.quiz_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start_btn button {
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.info_box {
  width: 540px;
  background: #fff;
  border-radius: 5px;
  display: none;
}
.info_box .info_title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: 600;
}
.info_box .info_list .info {
  margin: 5px 0;
  font-size: 17px;
}
.info_box .info_list .info span {
  font-weight: 600;
  color: #007bff;
}

.info_box .buttons {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 35px;
  border-top: 1px solid lightgrey;
}
.info_box .buttons button {
  margin: 0 5px;
  height: 40px;
  width: 100px;
  outline: none;
  border: 1px solid #007bff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.info_box .buttons .restart {
  background: #007bff;
  color: #fff;
}
.info_box .buttons .restart:hover {
  background: #0263ca;
}
.info_box .buttons .quit {
  color: #007bff;
  background: #fff;
}
.info_box .buttons .quit:hover {
  background: #007bff;
  color: #fff;
}

.quiz_box {
  width: 550px;
  background: #fff;
  border-radius: 5px;
  display: none;
}
.quiz_box header {
  position: relative;
  z-index: 99;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.quiz_box header .title {
  font-size: 20px;
  font-weight: 600;
}
.quiz_box header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
  height: 45px;
  background: #cce5ff;
  border: 1px solid #b8daff;
  border-radius: 5px;
  padding: 0 8px;
}
.quiz_box header .timer .time_text {
  font-size: 17px;
  font-weight: 400;
  user-select: none;
}
.quiz_box header .timer .time_sec {
  font-size: 18px;
  font-weight: 500;
  background: #343a40;
  height: 30px;
  width: 45px;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
  user-select: none;
  border: 1px solid #343a40;
}
.quiz_box .section {
  padding: 25px 30px 20px 30px;
  background: #fff;
}
.quiz_box .section .que_text {
  font-size: 22px;
  font-weight: 600;
}
.quiz_box .section .option_list {
  padding: 20px 0;
  display: block;
}
.option_list .option {
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  margin-bottom: 15px;
  display: flex;
  font-size: 17px;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.option_list .option:hover {
  color: #004085;
  background: #cce5ff;
  border-color: #b8daff;
}
.option_list .option .icon {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  pointer-events: none;
}
.option.correct {
  background: #d4edda;
  border-color: #23903c;
  color: #23903c;
}
.option.incorrect {
  background: #f8d7da;
  border-color: #a42834;
  color: #a42834;
}
.option.disabled {
  pointer-events: none;
}
.quiz_box footer {
  height: 60px;
  width: 100%;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quiz_box footer .total_que span {
  display: flex;
  user-select: none;
}
footer .total_que span p {
  font-weight: 500;
  padding: 0 5px;
}
footer .next_btn {
  height: 40px;
  padding: 0 13px;
  outline: none;
  font-weight: 400;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: #007bff;
  border-radius: 5px;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease;
}
